### In this notebook, we will try to understand our dataset and clean as much as possible.

Before starting we have to import our dataset and all needed library

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

from pandas_profiling import ProfileReport

In [60]:
df = pd.read_csv('./data/UCI_Credit_Card.csv')
df

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000.0,1,3,1,39,0,0,0,0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0
29996,29997,150000.0,1,3,2,43,-1,-1,-1,-1,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0
29997,29998,30000.0,1,2,2,37,4,3,2,-1,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1
29998,29999,80000.0,1,3,1,41,1,-1,0,0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1
29999,30000,50000.0,1,2,1,46,0,0,0,0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1

Like you can see above, we have index and ID columns so one of those columns are not needed. We choose to set ID as index because it might be necessary for the client.

In [61]:
df.set_index('ID', inplace=True)
df

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
ID,,,,,,,,,,,,,,,,,,,,,
1,20000.0,2,2,1,24,2,2,-1,-1,-2,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
2,120000.0,2,2,2,26,-1,2,0,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
3,90000.0,2,2,2,34,0,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
4,50000.0,2,2,1,37,0,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
5,50000.0,1,2,1,57,-1,0,-1,0,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000.0,1,3,1,39,0,0,0,0,0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0
29997,150000.0,1,3,2,43,-1,-1,-1,-1,0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0
29998,30000.0,1,2,2,37,4,3,2,-1,0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1
29999,80000.0,1,3,1,41,1,-1,0,0,0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1
30000,50000.0,1,2,1,46,0,0,0,0,0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1

Now let's see if we have some NaN value or not

In [4]:
df.isnull().sum()

LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default.payment.next.month    0
dtype: int64

Like we can see we have no NaN value. Before doing our split, between target and data we will profile.

In [5]:
profile = ProfileReport(df)
profile.to_file(output_file='output.html')

Summarize dataset: 100%|██████████| 38/38 [01:14<00:00,  1.96s/it, Completed]
Generate report structure: 100%|██████████| 1/1 [00:09<00:00,  9.80s/it]
Render HTML: 100%|██████████| 1/1 [00:14<00:00, 14.26s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 16.44it/s]

Like we can see on the profile (output.html or change profile.to_file(output_file='output.html') to profile but it will take a lot of ressources) we have some issues with our values when we check [on this site] (https://www.kaggle.com/uciml/default-of-credit-card-clients-dataset).

#### Lets take columns by columns

On Education columns:
We can see that we have 6 values and we can see that 0, 4, 5 and 6 can be united in one value that we can call it others. So we decided to united them and give it the value 0.

In [62]:
df.loc[df['EDUCATION'] == 6,'EDUCATION'] = 0
df.loc[df['EDUCATION'] == 5,'EDUCATION'] = 0
df.loc[df['EDUCATION'] == 4,'EDUCATION'] = 0
pd.unique(df['EDUCATION'])

array([2, 1, 3, 0])

On Marriage columns, we have 0 and 3 that can be united so we will do it because unkown or others is not reaaly apart.

In [63]:
df.loc[df['MARRIAGE'] == 3,'MARRIAGE'] = 0
pd.unique(df['MARRIAGE'])

array([1, 2, 0])

Before to go on lets divide our X and Y and then make a new columns with the payement rate of each custumors and see have many percent usually they pay.

In [64]:
Y = df['default.payment.next.month']
df.drop('default.payment.next.month', inplace=True, axis=1)
X = df

In [65]:
X['Mean_Payment_rate'] = 0
X1 = 0
for i in range(5):
    X1 = X1 + np.where(X['BILL_AMT{}'.format(6-i)]<= 0, 1, X['PAY_AMT{}'.format(5-i)]/X['BILL_AMT{}'.format(6-i)])
X['Mean_Payment_rate'] = X1/5
X

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,Mean_Payment_rate
ID,,,,,,,,,,,,,,,,,,,,,
1,20000.0,2,2,1,24,2,2,-1,-1,-2,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,0.800000
2,120000.0,2,2,2,26,-1,2,0,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,0.193583
3,90000.0,2,2,2,34,0,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.083968
4,50000.0,2,2,1,37,0,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.039794
5,50000.0,1,2,1,57,-1,0,-1,0,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.471997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000.0,1,3,1,39,0,0,0,0,0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.121471
29997,150000.0,1,3,2,43,-1,-1,-1,-1,0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.807750
29998,30000.0,1,2,2,37,4,3,2,-1,0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,0.272225
29999,80000.0,1,3,1,41,1,-1,0,0,0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,0.481511
30000,50000.0,1,2,1,46,0,0,0,0,0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,0.042789

In [66]:
X.drop('BILL_AMT1', inplace=True, axis=1)
X.drop('BILL_AMT2', inplace=True, axis=1)
X.drop('BILL_AMT3', inplace=True, axis=1)
X.drop('BILL_AMT4', inplace=True, axis=1)
X.drop('BILL_AMT5', inplace=True, axis=1)
X.drop('BILL_AMT6', inplace=True, axis=1)

X.drop('PAY_AMT1', inplace=True, axis=1)
X.drop('PAY_AMT2', inplace=True, axis=1)
X.drop('PAY_AMT3', inplace=True, axis=1)
X.drop('PAY_AMT4', inplace=True, axis=1)
X.drop('PAY_AMT5', inplace=True, axis=1)
X.drop('PAY_AMT6', inplace=True, axis=1)

In [72]:
X['Mean_Pay'] = (X['PAY_0'] + X['PAY_2'] + X['PAY_3'] + X['PAY_4'] + X['PAY_5'] + X['PAY_6'])/5

In [78]:
X.drop('PAY_0', inplace=True, axis=1)
X.drop('PAY_2', inplace=True, axis=1)
X.drop('PAY_3', inplace=True, axis=1)
X.drop('PAY_4', inplace=True, axis=1)
X.drop('PAY_5', inplace=True, axis=1)
X.drop('PAY_6', inplace=True, axis=1)

KeyError: 'BILL_AMT4'

In [79]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=41)

In [80]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import datasets, metrics

rf = RandomForestClassifier(n_estimators=100)
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
print('Accuracy: ', metrics.accuracy_score(y_test,y_pred))

Accuracy:  0.7898888888888889

In [81]:
from sklearn.neighbors import NearestNeighbors
from sklearn.neighbors import KNeighborsClassifier

from sklearn.metrics import classification_report

for i in range(1,10):
    knn = KNeighborsClassifier(n_neighbors= i)
    knn.fit(X_train, y_train)
    y_pred = knn.predict(X_test)
    print(knn.score(X_train, y_train))
    print(knn.score(X_test, y_test))
    print(classification_report(y_test,y_pred))

0.9970952380952381
0.7134444444444444
              precision    recall  f1-score   support

           0       0.81      0.82      0.82      6998
           1       0.35      0.34      0.34      2002

    accuracy                           0.71      9000
   macro avg       0.58      0.58      0.58      9000
weighted avg       0.71      0.71      0.71      9000

0.8531904761904762
0.7777777777777778
              precision    recall  f1-score   support

           0       0.80      0.96      0.87      6998
           1       0.50      0.15      0.23      2002

    accuracy                           0.78      9000
   macro avg       0.65      0.55      0.55      9000
weighted avg       0.73      0.78      0.73      9000

0.8565238095238096
0.7645555555555555
              precision    recall  f1-score   support

           0       0.81      0.90      0.86      6998
           1       0.45      0.28      0.34      2002

    accuracy                           0.76      9000
   macro avg       0.63      0.59      0.60      9000
weighted avg       0.73      0.76      0.74      9000

0.8264285714285714
0.7834444444444445
              precision    recall  f1-score   support

           0       0.80      0.96      0.87      6998
           1       0.55      0.15      0.24      2002

    accuracy                           0.78      9000
   macro avg       0.67      0.56      0.56      9000
weighted avg       0.74      0.78      0.73      9000

0.8288095238095238
0.7812222222222223
              precision    recall  f1-score   support

           0       0.81      0.94      0.87      6998
           1       0.52      0.24      0.33      2002

    accuracy                           0.78      9000
   macro avg       0.66      0.59      0.60      9000
weighted avg       0.75      0.78      0.75      9000

0.8182380952380952
0.7865555555555556
              precision    recall  f1-score   support

           0       0.80      0.97      0.88      6998
           1       0.57      0.16      0.25      2002

    accuracy                           0.79      9000
   macro avg       0.69      0.56      0.56      9000
weighted avg       0.75      0.79      0.74      9000

0.8198095238095238
0.7871111111111111
              precision    recall  f1-score   support

           0       0.81      0.95      0.87      6998
           1       0.56      0.21      0.30      2002

    accuracy                           0.79      9000
   macro avg       0.68      0.58      0.59      9000
weighted avg       0.75      0.79      0.75      9000

0.8116666666666666
0.7896666666666666
              precision    recall  f1-score   support

           0       0.80      0.97      0.88      6998
           1       0.61      0.15      0.24      2002

    accuracy                           0.79      9000
   macro avg       0.71      0.56      0.56      9000
weighted avg       0.76      0.79      0.74      9000

0.8122380952380952
0.791
              precision    recall  f1-score   support

           0       0.81      0.96      0.88      6998
           1       0.59      0.19      0.29      2002

    accuracy                           0.79      9000
   macro avg       0.70      0.58      0.58      9000
weighted avg       0.76      0.79      0.75      9000

In [82]:
from sklearn import tree

clf = tree.DecisionTreeClassifier()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
print('Accuracy: ', metrics.accuracy_score(y_test,y_pred))

Accuracy:  0.7145555555555556

In [83]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

classifier = LogisticRegression(solver='lbfgs')

classifier.fit(X_train,y_train)

y_pred = classifier.predict(X_test)

print('Accuracy: ', metrics.accuracy_score(y_test,y_pred))

Accuracy:  0.7944444444444444

In [ ]:
#don't forget to do the rate between limit and last bill